:root {
    --succes-light: #C8E6C9;
    --succes-mid: #4CAF50;
    --succes-dark: #388E3C;
    --info-light: #B3E5FC;
    --info-mid: #039BE5;
    --info-dark: #0277BD;
    --warning-light: #FFECB3;
    --warning-mid: #FFB300;
    --warning-dark: #FF6F00;
    --danger-light: #FFCDD2;
    --danger-mid: #D50000;
    --danger-dark: #B71C1C;
    --disabled-light: #CFD8DC;
    --disabled-mid: #B0BEC5;
    --disabled-dark: #90A4AE;
}

.success-light {
    background-color: var(--succes-light);
}

.success-mid {
    background-color: var(--succes-mid);
}

.success-dark {
    background-color: var(--succes-dark) ;
}

//*info

.info-light {
    background-color: var(--info-light) ;
}

.info-mid {
    background-color: var(--info-mid) ;
}

.info-dark {
    background-color: var(--info-dark) ;
    
}

//*warning
.warning-light {
    background-color: var(--warning-light);
}

.warning-mid {
    background-color: var(--warning-mid);
}

.warning-dark {
    background-color: var(--warning-dark);
}

//*danger
.danger-light {
    background-color: var(--danger-light);
}

.danger-mid {
    background-color: var(--danger-mid);
}

.danger-dark {
    background-color: var(--danger-dark);
}

//*disabled//
.disabled-light {
    background-color: var(--disabled-light);
}

.disabled-mid {
    background-color: var(--disabled-mid);
}

.disabled-dark {
    background-color: var(--disabled-dark);
}

////*************************************************************/


//! Padding Variants

//? p1=4px         
//? p2=6px
//? p3=8px
//? p4=12px
//? p5=16px
//? p6=24px
//? p7=36px
//? p8=60px
//? p9=92px
//? p10=120px



.p1{
    padding: 4px;
}

.p2{
    padding: 6px;
}
.p3{
    padding: 8px;
}
.p4{
    padding: 12px;
}
.p5{
    padding: 16px;
}
.p6{
    padding: 24px;
}
.p7{
    padding: 36px;
}
.p8{
    padding: 60px;
}
.p9{
    padding: 92px;
}
.p10{
    padding: 120px;
}

//! Padding left
//? ps1=4px         
//? ps2=6px
//? ps3=8px
//? ps4=12px
//? ps5=16px
//? ps6=24px
//? ps7=36px
//? ps8=60px
//? ps9=92px
//? ps10=120px

.ps1{
    padding-left: 4px;
}

.ps2{
    padding-left: 6px;
}
.ps3{
    padding-left: 8px;
}
.ps4{
    padding-left: 12px;
}
.ps5{
    padding-left: 16px;
}
.ps6{
    padding-left: 24px;
}
.ps7{
    padding-left: 36px;
}
.ps8{
    padding-left: 60px;
}
.ps9{
    padding-left: 92px;
}
.ps10{
    padding-left: 120px;
}

//! Padding right
//? pr1=4px         
//? pr2=6px
//? pr3=8px
//? pr4=12px
//? pr5=16px
//? pr6=24px
//? pr7=36px
//? pr8=60px
//? pr9=92px
//? pr10=120px


.pr1{
    padding-right: 4px;
}

.pr2{
    padding-right: 6px;
}
.pr3{
    padding-right: 8px;
}
.pr4{
    padding-right: 12px;
}
.pr5{
    padding-right: 16px;
}
.pr6{
    padding-right: 24px;
}
.pr7{
    padding-right: 36px;
}
.pr8{
    padding-right: 60px;
}
.pr9{
    padding-right: 92px;
}
.pr10{
    padding-right: 120px;
}



//! Padding top
//? pt1=4px         
//? pt2=6px
//? pt3=8px
//? pt4=12px
//? pt5=16px
//? pt6=24px
//? pt7=36px
//? pt8=60px
//? pt9=92px
//? pt10=120px


.pt1{
    padding-top: 4px;
}

.pt2{
    padding-top: 6px;
}
.pt3{
    padding-top: 8px;
}
.pt4{
    padding-top: 12px;
}
.pt5{
    padding-top: 16px;
}
.pt6{
    padding-top: 24px;
}
.pt7{
    padding-top: 36px;
}
.pt8{
    padding-top: 60px;
}
.pt9{
    padding-top: 92px;
}
.pt10{
    padding-top: 120px;
}

//! Padding bottom

//? pb1=4px         
//? pb2=6px
//? pb3=8px
//? pb4=12px
//? pb5=16px
//? pb6=24px
//? pb7=36px
//? pb8=60px
//? pb9=92px
//? pb10=120px



.pb1{
    padding-bottom: 4px;
}

.pb2{
    padding-bottom: 6px;
}
.pb3{
    padding-bottom: 8px;
}
.pb4{
    padding-bottom: 12px;
}
.pb5{
    padding-bottom: 16px;
}
.pb6{
    padding-bottom: 24px;
}
.pb7{
    padding-bottom: 36px;
}
.pb8{
    padding-bottom: 60px;
}
.pb9{
    padding-bottom: 92px;
}
.pb10{
    padding-bottom: 120px;
}



//**********************************************/
 
//! Spacing (Margin)variant///

//?me1=12px
//?me2=24px
//?me3=32px
//?me4=48px
//?me5=64px
//?me6=72px
//?me7=96px
//?me8=128px
//?me9=160px
//?me10=240px

.me1 {
    margin: 12px;
}
.me2 {
    margin: 24px;
}
.me3 {
    margin: 32px;
}
.me4 {
    margin: 48px;
}
.me5 {
    margin: 64px;
}
.me6 {
    margin: 72px;
}
.me7 {
    margin: 96px;
}
.me8 {
    margin: 128px;
}
.me9 {
    margin: 160px;
}
.me10 {
    margin: 240px;
}

//!! Offcanvas Sidebar

.card.x{
     background-image: url(../hajans/resim1.jpeg); 
     height: auto;
     width: 100%;
     object-fit: fill;
}

 .profile-foto-box{
     
      width: 107px;
       height: 61px;
    //    object-fit: fill;
  
}
.ph-list{
    color: white;
}




//******************************/
//! Media Querry

@media screen and (max-width: 576px) and (min-width: 0px) {
   
.card.x {
    
    height: 204px;
    width: 264px;
    object-fit: fill;
}
    
    
            
}



@media screen and (max-width: 767px) and (min-width: 575px){

    .card.x {
    
        width: 294px;
    }
        
            
}



@media screen and (max-width: 991px) and (min-width: 768px){


    .card.x {
    
       width: 308px;
        
    }
        
    
            
}



@media screen and (max-width: 1199px) and (min-width: 992px){
    .card.x {
    
        width: 367px;
    }
    
            
 }


 //***********! Modal Css ********///////
.modal-dialog-centered {
    height: 100%;

       .modal-content {
          height: 50%;
        }

        .modal-body {
            display: flex;
            justify-content:center;
            align-items: center;
         }
}


//*****************! Card Box Css********//////////

.card {
    width: 222px;
    height: 297px;
    border-radius: 5px;
    .cardbox-body-one{
        width: 222px;
        height: 71px;
    }
  }
  .bg-image {
    width: 218px;
    height: 226px;
  }
  .heart {
    width: 24px;
    height: 24px;
    // padding:0 !important;
  }
  
  .plus {
    width: 24px;
    height: 24px;
  }
  .swap {
    width: 24px;
    height: 24px;
  }
  
  
  
  .card-exclusive {
    transform: rotate(-45deg);
    top: 20px;
    left: -40px;
    z-index: 1;
    font-size: 9px;
    
  }
  span {
      width: 150px;
    }
  .card-body-hover:hover .card-hover-block {
   opacity:1;
  }
  .card-body-hover:hover .card-key-properties{
    top: 250px;
    height: auto;
  }
  .card-body-hover:hover .wnmg {
    color: white !important;
  }
 
  .card-body-hover:hover .position-relative {
    display:inline-block !important;
  
  
  }

  .card-hover-block {
  
    opacity:0;
  }
  
  
  .card-key-properties {
    padding-top:75px;
    background-color:var(--disabled-dark);
    width: 222px;
    height: 20px;
    border-radius: 10px;
    top: 200px;
    left: -1px;
    transition:all 0.5s;
    z-index:-1;
    color: white;
  }

   .card-key-properties ul li a:hover {
    color:white!important;
   }
  

  .wnmg {
    bottom: -35px;
    left:74px;
    font-family: "ubuntu";
    color: #626769;
  }
  .badge {
    font-size:10px !important;
    font-weight:200;
  }
  .card-body-hover:hover .wnmg {
    color:white;
  }

  .card-body-hover:hover .cardbox-body-one button {
   
    color: var(--warning-mid);
    background:black;
  } 

  .list-grouptext-white {
    margin-left: -62px;
    font-style: italic;
    line-height: 17px;
    font-weight: 400px;
  }
.list-grouptext-white{
    list-style-type:none;
}



//!! Card Box2 ///////////////////

.card-border {
   
    width: 300px;
    height: 300px;
}
.card-container {
    width: 300px;
    height: 300px;
    transition:  300ms all!important;
    
    .card-hover {
        width: 300px; 
        height: 300px;
        background-color: rgba(10, 10, 10, 0.144);
        top: 0;
        
    }

    img {
        width: 100%!important;
        border-radius: 0px;
        border-top-right-radius:0px!important;
        border-top-left-radius:0px!important;
        border-bottom-left-radius:0px!important;
        border-bottom-right-radius:0px!important;
    }
    
    .card-radius {
    border-radius: 50%;
    margin: 4px 0px 0px 11px;
    }

    .card-puplic {
        width: 50px;
        height: 50px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        
       
    }
    .card-square {
    margin-left: 12px;
    
    }
    .card-rotate {
        transform: rotate(45deg);
        margin-top: 25px;
        margin-right: 12px;
        
        p{
            transform: rotate(-45deg);
        }
    }
    .ph-eye  {
        font-size:64px;
        height: 177px; 
       
    }
    
    
}


.card-box2-card-body {
    padding: 0.5rem!important;
    width: 300px;
    height: 300px;
    p {
        min-height:60px ;
        max-height: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        :hover {
            color: #B71C1C;
            transition: all 300ms;
        }
    }
}



.container-grid {
    display: grid;
    grid-template-columns:62px 62px 62px 62px ;
    width: 300px;
    height: 200px;
    gap:4px;
    padding-left: 0px;
    padding-bottom: 0px;
   

    div {
        border: 1.5px solid #FBBA07!important;
    }
    :first-child{
        grid-row: 1 / span 2;
       
    }
    :last-child {
        width:127px ;    
    }
}

   

.card-bottom {
    margin-bottom: 2px;
    :first-child {
        background-color: #0038FF !important;
        }
    :last-child {
            margin-right: 6px!important;
            font-size: 14px;
        }
        span {
            width: 33px;
            height: 33px;
            border-radius: 0px ;
            margin-left: 12px;
            padding: 8px!important;
    

        }
       
}




 .card-container:hover .card-hover{
    display: block!important;
    transition: all 300ms!important;
  
   
 }

.card-container-two{
    width: 300px; 
    height: 300px ; 
    border-radius: 0px!important;
 }


 //!!! ZİG ZAG LEFT SİDEBA
.zig-zag-leftsidebar-container {
     width: 847px !important;
     height: 1380px !important;
    // margin:0 auto;
    //  margin: 0 10%
    
    
}

.card-zigzag-2{
        color: #1DC4D9;
        &:hover{
            text-decoration: underline;
            color: #1DC4D9;
        }  
}

    
.card-title-zigzag {
        font-size: 24px;
        line-height: 34px;
        font-family: "Roboto";
        color: #333333;
        a{
            color: black;
            font-weight: 300;
        }
        .zigzag-bar-arrow-icon  {
            color: #1DC4D9 ;
        }
        :hover{
            color: #1DC4D9;
        }
    }
 

.card-text-zigzag {
    font-size: 15px;
    line-height: 21px;
    color: #303030;
    opacity: 65%;

 
 }

.card-zigzag-leftbar-img{
    width: 389px;
    height: 260px ; 

 }

.block-simple-2-divider {
    
    display: inline-block;
    width:30px ;
    height: 1px;
    margin-top: 25px;
 }

 @media screen and (max-width: 576px) and (min-width: 0px) {
   

    .card-zigzag-leftbar-img {
        width: 50% !important; ;
        height: 50%;
      
    }
   
     
   


        
                
    }
    
    
@media screen and (max-width: 767px) and (min-width: 575px) {
    
         .zig-zag-leftsidebar-container{
        
             width: 576px;
         }
        .card-zigzag-leftbar-img img {
            width: 100%;
            height: 100%;
        }
    
            
                
    }
    
    
    
    @media screen and (max-width: 991px) and (min-width: 768px){
    
    
        .zig-zag-leftsidebar-container{
        
            width: 60%;
            
         }
        .card-zigzag-leftbar-img {
            width:100% ;
            height: 100%;
        }

            
        
                
    }
    
    
    
    @media screen and (max-width: 1199px) and (min-width: 992px){
        .zig-zag-leftsidebar-container{
        
             width: 992px;
         }
        .card-zigzag-leftbar-img {
            width:100% ;
            height: 100%;
        }
        
                
    }
         
    @media screen and (max-width: 1399px) and (min-width: 1200px){
        .zig-zag-leftsidebar-container {
        
             width: 1200px;
         }
        .card-zigzag-leftbar-img{
            width:100% ;
            height: 100%;
        }
        
                
    }

              
    @media screen and (max-width: 1900px) and (min-width: 1400px){
        .zig-zag-leftsidebar-container {
        
             width: 1400px;
         }
            .card-zigzag-leftbar-img{
        width:100% ;
        height: 100%;
    }
      
                
}



