//!! Card Box2 ///////////////////

.card-border {
    background-image: url(./DSC_7909\ 1.jpg);
    width: 300px;
    height: 300px;
}

.bg-primary {
    transform: rotate(45deg);
    p{
        transform: rotate(-45deg);
    }
}

.sema {
    width: 33px;
    height: 33px;
}
.bg-warning {
    border-radius: 50%;
}
.card-body-grid {
    width: 300px;
    height: 300px;
    
}

.container-grid {
    display: grid;
    grid-template-columns:62px 62px 62px 62px ;
    width: 300px;
    height: 200px;
    gap: 2px;
   
    
}

.container-grid :first-child{
    grid-row: 1 / span 2;

}

.mual {
    width:125px ;
}
